@media only screen and (max-width: 695px) {
    #pdf-table {
        width: 450px;
        margin: 'auto';
    }

    ;

    #mealSub {
        text-align: center;
    }
}

@media only screen and (max-width: 580px) {
    #pdf-table {
        width: 380px;
        margin: 'auto';
    }

    ;

    #mealSub {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    #pdf-table {
        width: 330px;
        margin: 'auto';
    }

    ;

    #mealSub {
        text-align: center;
    }
}

@media only screen and (max-width: 420px) {
    #pdf-table {
        width: 270px;
        margin: 'auto';
    }

    ;

    #mealSub {
        text-align: center;
    }
}

@media only screen and (max-width: 350px) {
    #pdf-table {
        width: 170px;
        margin: 'auto';
    }

    ;

    #mealSub {
        text-align: center;
    }
}