#firstName,
#secondName,
#gender,
#age,
#position,
#employmentDate,
#workDepartment,
#address,
#city,
#state,
#identityCard,
#socialNumber,
#telephoneNumber,
#emailAddress {
    width: 340px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

}