#firstName,
#secondName,
#age,
#address,
#city,
#state,
#identityCard,
#socialNumber,
#telephoneNumber,
#emailAddress {
  width: 340px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#gender,
#workDepartment,
#position {
  width: 100%;
  margin: auto;
  padding-left: 45px;
  padding-right: 50px;
}

#employmentDate {
  width: 100%;
  padding-left: 43px;
}
