#searchBar {
  width: 200px;
  padding-right: 10px;
  border: solid 1px #4682b4;
  margin-top: 5px;
  margin-bottom: 10px;
}

#searchText {
  width: 250px;
  padding-right: 10px;
  border: solid 1px #4682b4;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
}

#searchShift {
  width: 200px;
  padding-right: 10px;
  border: solid 1px #4682b4;
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
}
